body {
    margin: auto;
    text-align: center;
    max-width: 75%;
    max-height: 75%;
}

.hero {
    background: #6943fe;
    color: white;
    padding: 30px;
}

.main {
    background: #1F2937;
    padding: 10px;
    color: #CCC1FF;
}

.section {
    background: #273549;
    padding: 5px;
    color: #CCC1FF;
}
